<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--=============== CSS ===============-->
  <link rel="stylesheet" href="assets/css/style.css">

  <title>Crypt Land</title>
</head>
<body>
  <!--==================== HERO ====================-->
  <div class="hero" id="hero">
    <header class="header" id="header">
      <nav class="nav container">
        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li>
              <a href="#about-us" class="nav__link">About us</a>
            </li>

            <li>
              <a href="#platform" class="nav__link">Platform</a>
            </li>

            <li>
              <a href="#solution" class="nav__link">Solution</a>
            </li>

            <li>
              <a href="#customer" class="nav__link">Customer</a>
            </li>

            <li>
              <a href="#" class="nav__link">
                <img src="assets/img/logo.png" alt="image">
              </a>
            </li>
            
            <li>
              <a href="#price" class="nav__link">Price</a>
            </li>

            <li>
              <a href="#contact" class="nav__link">Contact</a>
            </li>

            <li>
              <a href="#login" class="nav__link">Login</a>
            </li>

            <li>
              <button class="btn signup__button">
                Sign up
              </button>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </div>
</body>
</html>