@import "tailwindcss";
/* @plugin "xyz" */
/* @import "tailwindcss" prefix(tw); */
/* tw:text-yellow-500 */

@theme {
  /* Breakpoints */
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1400px;

  /* Colors */
  --color-sectionColor: hsl(209, 100%, 97%);
  --color-darkBodyColor: hsl(216, 100%, 4%);
  --color-darkSectionColor: hsl(211, 100%, 12%);
  --color-primaryColor: hsl(209, 87%, 21%);
  --color-primaryColorLight: hsl(209, 74%, 45%);
  --color-whiteColor: #fff;
  --color-textColor: #DDD;
  --color-secondaryColor: red;

  /* Fonts */
  --font-poppins: "Poppins", sans-serif;
  --font-Londrina: "Londrina Outline", sans-serif;

  /* Container padding */
  --container-padding: 10px;
  --container-md-padding: 30px;

  /* Animations */
  --animate-scaleAnimation: move 3s linear infinite;
}

/* Keyframes */
@keyframes move {
  50% {
    transform: scale(1.1);
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply text-primaryColor font-poppins tracking-wider overflow-x-hidden;
  }
}
