<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nav Bar</title>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <style>
    .logo {
      margin-left: 5px;
      height: 50px;
      width: 260px;
      background-color: #182C61;
      border-radius: 12px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: monospace;
      font-size: 1.3rem;
      letter-spacing: 2px;
      padding-left: 10px;
      border: 1px solid white;
    }
  </style>
</head>
<body>
  <div class="container">
    <header>
      <div class="logo">
        <h1>MUKTESWAR.</h1>
      </div>
      <nav>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <div class="main">
      <div id="home">
        <h1>This is Home</h1>
      </div>
      <div id="about">
        <h1>This is About section.</h1>
      </div>
      <div id="skills">
        <h1>This is Skills section.</h1>
      </div>
      <div id="projects">
        <h1>This is Projects section.</h1>
      </div>
      <div id="contact">
        <h1>This is Contact section.</h1>
      </div>
      
    </div>
    <footer>
      <p>© 2025 Mukteswar. All rights reserved.</p>
    </footer>
  </div>
</body>
</html>