<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logo</title>
  <style>
    .logo {
      height: 50px;
      width: 250px;
      background-color: #182C61;
      border-radius: 12px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: monospace;
      font-size: 1.3rem;
      letter-spacing: 2px;
      padding-left: 10px;
    }
  </style>
</head>
<body>
  <div class="logo">
    <h1> MUKTESWAR.</h1>
  </div>
</body>
</html>